.container {
  margin-top: 20px;
}

.selectContainer {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: flex-end;
}

.listSelect {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.listItemSelect {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.labelSelect {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #8a8a89;
}

.select {
  padding: 14px 30px 14px 18px;
  border: none;
  border-radius: 14px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #121417;
  appearance: none;
  background-image: url('../../images/arrow.svg');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 10px;
}

.btnReset {
  padding: 14px 30px;
  border: none;
  border-radius: 14px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  background-color: #9fbaae;
}

.btnReset:hover {
  background-color: #cbded3;
}

.notFoundTitle {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.containerCard {
  margin-top: 32px;
}

.listCard {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.listItemCard {
  display: flex;
  gap: 48px;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 24px;
  max-width: 950px;
  margin: 0 auto;
}

.avatarContainer {
  flex-shrink: 0;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 100px;
}

.containerUpperCard {
  display: flex;
  justify-content: space-between;
}

.languages {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #8a8a89;
}

.name {
  margin-top: 8px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #121417;
}

.containerUpperInfoCard {
  display: flex;
  flex-direction: row;
  gap: 32px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #121417;
}

.itemIcon {
  display: flex;
  gap: 8px;
  align-items: center;
}

.upperIcon {
  width: 16px;
  height: 16px;
}

.price {
  color: #38cd3e;
}

.heart {
  background: none;
}

.listInfo {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #121417;
}

.listInfoItemLanguage {
  text-decoration: underline;
}

.listInfoSpan {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #8a8a89;
}

.readMore {
  margin-top: 16px;
  background: none;
  text-decoration: underline;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #121417;
}

.paragraph {
  margin-top: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #121417;
}

.listItemReviews {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listReviews {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.containerReviewName {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.reviewName {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #8a8a89;
}

.reviewMark {
  display: flex;
  gap: 8px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #121417;
}

.reviewText {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #121417;
}

.btnList {
  margin-top: 32px;
  display: flex;
  gap: 8px;
}

.btnLevel {
  background: none;
  border: solid 1px #12141733;
  padding: 8px 12px;
  border-radius: 35px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #121417;
}

.btnLevel:hover {
  background-color: #cbded3;
}

.btnLevel:focus {
  background-color: #9fbaae;
  border: none;
}

.btnBook {
  margin-top: 32px;
  padding: 16px 48px;
  border-radius: 12px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  background-color: #9fbaae;
}

.btnBook:hover {
  background-color: #cbded3;
}

.btnLoad {
  display: flex;
  margin: 32px auto;
  padding: 16px 48px;
  border-radius: 12px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  background-color: #9fbaae;
}

.btnLoad:hover {
  background-color: #cbded3;
}
